@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/redirect.js"></script>
<div class="formLeft">
    <form class="buttonArea">
        <div class="button" onclick="redirectTo('/Tutorial/Index')">
            <div class="buttonText">
                <p>Обучение</p>
            </div>
        </div>
        <div class="button" onclick="redirectTo('/Help/Index')">
            <div class="buttonText">
                <p>Помощь</p>
            </div>
        </div>
    </form>
</div>

